body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    background-color: #1F1F1F;
    align-items: center;
}

header>* {
    margin-left: 0.5em;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

#filterList {
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.5em;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50em;
}

#filterList ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#filterList ul li {
    display: flex;
    margin: 0.2em;
}

#filterList .filterName {
    background-color: #323232;
    padding: 0.1em;  
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    padding: 0.5em;


    
}

#filterList .filterCount {
    background-color: #404040;
    padding: 0.1em;    
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 0.5em;


}

#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1F1F1F;
    border-radius: 0.5em;

}

.animeThumbnail {
    background-color: #404040;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    margin: 1em;
    max-width: 10em;

}

.animeThumbnail .animeCover {
    border-radius: 0.5em;
}

#anime {
    background-color: #1F1F1F;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
}

#anime img {
    border-radius: 0.5em;
}

#anime a {
    text-decoration: none;
    color: white;
}