body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    background-color: #1F1F1F;
    align-items: center;
}

header>* {
    margin-left: 0.5em;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

#filterList {
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.5em;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50em;
}

#filterList>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#filterList>ul>li {
    display: flex;
    margin: 0.2em;
}

#filterList .left {
    background-color: #323232;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    padding: 0.2em;
}

#filterList .right {
    background-color: #404040;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 0.2em;


}

#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1F1F1F;
    border-radius: 0.5em;
    max-width: 100em;

}

.animeThumbnail {
    background-color: #404040;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    margin: 1em;
    max-width: 10em;

}

.animeThumbnail .animeCover {
    border-radius: 0.5em;
}

#anime {
    background-color: #1F1F1F;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    max-width: 100em;

}

#anime img {
    border-radius: 0.5em;
}

#anime a {
    text-decoration: none;
    color: white;
}
#anime .right{
    padding-left: 1em;
}
#anime .right li{
    background-color: #404040;
    margin: 0.2em;
}
#anime h1{
    margin-left: 1em;
}
#anime p{
    margin: 2em;
}

#anime .left{
    display: flex;
    flex-direction: column;
    align-items: start;
}
#anime .left div{
    padding: 1em;
}
#anime .left ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /* flex-direction: row; */
    /* justify-content: start; */
}
#anime .left li{
    margin: 0.1em;
}
#anime .left p{
    margin: 0;
}