/* Layout */
body *{
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;

}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}



/* Header */
header {
    display: flex;
    background-color: #1F1F1F;
    align-items: center;
}
header * {
    text-transform: capitalize;
    margin: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
header p{
    padding: 0.75em;
}
header p:hover{
    background-color: #323232;
}
header input{
    border-radius: 0.5em;
}



/* FilterList */
#filterList {
    padding: 1em;
    border-radius: 0.5em;
    background-color: #1F1F1F;
    text-align: center;
}
#filterList h2 {
    text-transform: capitalize;
    margin: 0.5em;
}
#filterList ul {
    columns: 7;
}
#filterList li {
    margin-top: 0;
    display: flex;
    margin-bottom: 0.5em;
}
#filterList p.left {
    background-color: #323232;
    border-bottom-left-radius: 0.2em;
    border-top-left-radius: 0.2em;
    padding: 0.1em;
}
#filterList p.right {
    background-color: #404040;
    border-bottom-right-radius: 0.2em;
    border-top-right-radius: 0.2em;
    padding: 0.1em;
}



/* Anime */
#anime .top{
    display: flex;
}

/* 
#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1F1F1F;
    border-radius: 0.5em;
    max-width: 100em;

}

.animeThumbnail {
    background-color: #404040;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    margin: 1em;
    max-width: 10em;

}

.animeThumbnail .animeCover {
    border-radius: 0.5em;
}





#anime {

    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    max-width: 100em;

}

#anime img {
    border-radius: 0.5em;
}

#anime a {
    text-decoration: none;
    color: white;
}
#anime .right{
    margin-left: 1em;
    padding-left: 1em;
    border-radius: 0.5em;


}
#anime .right li{
    background-color: #404040;
    margin: 0.2em;
}
#anime h1{
    margin-left: 1em;
}
#anime p{
    margin: 2em;
}

#anime .left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

#anime .left ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 0.5em;
}

#anime .left p{
    margin: 0;
}
.infos{
    background-color: #1F1F1F;
    margin-top: 1em;
    border-radius: 0.5em;

}
.infos{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.title_and_desc{
    background-color: #1F1F1F;
    margin-bottom: 1em;
    border-radius: 0.5em;

    padding: 1em;
}

.episodes{
    background-color: #1F1F1F;
    padding: 1em;
    border-radius: 0.5em;
} */