body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #1F1F1F;
    align-items: center;
}

header>* {
    margin-left: 0.5em;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#filterList {
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.5em;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50em;
}

#filterList ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#filterList ul li {
    display: flex;
    margin: 0.2em;
}

#filterList .filterName {
    background-color: purple;
    padding: 0.1em;
}

#filterList .filterCount {
    background-color: #404040;
    padding: 0.1em;

}