{{ define "Anime" }}
<div id="anime">
    <div class="left">
        <img src="{{.Cover}}" alt="{{.Title}}">
        <div class="infos">
            <ul>
                <p>Type:</p>
                <li>{{ .TypeOf }}</li>
            </ul>
            <ul>
                <p>Season:</p>
                <li>{{ .Season }}</li>
            </ul>
            {{ range .Infos }}
            <ul>
                <p>{{ .Title }}:</p>
                {{ range .Values }}
                    <li> {{ .Value }}, </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
    <div class="right">
        <a href="{{.MalUrl}}">
            <h1>{{ .Title }}</h1>
        </a>
        <p>{{ .Description }}</p>
        <ol>
        {{range .Episodes}}
            <li> {{.Title}}</li>
        {{end}}
        </ol>
    </div>
</div>
{{ end }}