/*

* {
    padding: 0;
    margin: 0;
}


:root {
    --grayest: #1F1F1F;
    --grayer: #323232;
    --gray: #404040;
    background-color: black;
    color: white;
}

.Nav {
    background-color: var(--grayest);
    display: flex;
    align-items: center;
}

.Nav h1,
.Nav form,
.Nav ul {
    margin-left: 1em;
}

.Nav ul {
    list-style-type: none;
    display: flex;
}

.Nav li {
    margin-right: 1em;
    padding: 0.5em;
    border-radius: 0.1em;
}

.Nav li:hover {
    background-color: var(--grayer);
}

.Nav input {
    padding: 0;
    margin: 0;
    border: none;
}

.Nav form {
    display: flex;
}

.Nav input:nth-of-type(1) {
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    padding: 0.4em;
    outline: none;
    color: white;
    background-color: var(--gray);
}

.Nav input:nth-of-type(2) {
    padding: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    background-color: aqua;
}


.Home {
    margin: 1em;
    background-color: var(--grayest);
    border-radius: 0.5em;

}

.Home ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.AnimeThumbnail {
    background-color: var(--grayer);
    margin: 1em;
    border-radius: 0.5em;
    width: 12em;


}

.AnimeThumbnail img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 12em;

}

.Anime {
    margin: 1em;
    background-color: var(--grayest);
    border-radius: 0.5em;
    display: flex;
}

.Anime a {
    color: white;
    text-decoration: none;
}

/* Filters 
#filters {
    background-color: var(--grayest);
    padding: 1em;
    margin: 1em;
    border-radius: 0.4em;
    text-align: center;

    ul {
        display: grid;
        justify-items: stretch;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
        list-style-type: none;

    }

    li {
        display: flex;
        margin: 0.5em;
    }

    p:nth-of-type(1) {
        border-top-left-radius: 0.4em;
        border-bottom-left-radius: 0.4em;
        padding: 0.4em;
        background-color: var(--gray);
        flex-grow: 1;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    p:nth-of-type(2) {
        padding: 0.4em;
        border-top-right-radius: 0.4em;
        border-bottom-right-radius: 0.4em;
        background-color: var(--grayer);
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


/* Filter 
#filter {
    background-color: var(--grayest);
    padding: 1em;
    margin: 1em;
    border-radius: 0.4em;

    ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));

    }

    li {
        display: flex;
        margin: 0.5em;
        flex-direction: column;
        background-color: var(--gray);
        border-radius: 0.4em;

    }

    img {
        border-radius: 0.4em;

    }

}

#anime {
    background-color: var(--grayest);
    padding: 1em;
    margin: 1em;
    border-radius: 0.4em;

    ol {
        display: flex;
        flex-direction: column;
        padding: 0.5em;
    }
}

*/