* {
    padding: 0;
    margin: 0;
}

:root {
    --grayest: #1F1F1F;
    --grayer: #323232;
    --gray: #404040;
    background-color: black;
    color: white;
}


/* Nav */
nav {
    background-color: var(--grayest);
    display: flex;
    align-items: center;

    h1,
    form,
    ul {
        margin-left: 1em;
    }

    ul {
        list-style-type: none;
        display: flex;

        li {
            margin-right: 1em;
            padding: 0.5em;
            border-radius: 0.1em;
        }

        li:hover {
            background-color: var(--grayer);
        }
    }

    input {
        padding: 0;
        margin: 0;
        border: none;
    }

    form {
        display: flex;
    }

    input:nth-of-type(1) {
        border-top-left-radius: 0.4em;
        border-bottom-left-radius: 0.4em;
        padding: 0.4em;
        outline: none;
        color: white;
        background-color: var(--gray);
    }

    input:nth-of-type(2) {
        padding: 0.4em;
        border-top-right-radius: 0.4em;
        border-bottom-right-radius: 0.4em;
        background-color: aqua;
    }

}



/* Filters */
#filters {
    background-color: var(--grayest);
    padding: 1em;
    margin: 1em;
    border-radius: 0.4em;
    text-align: center;

    ul {
        display: grid;
        justify-items: stretch;
        /* grid-auto-columns: auto; */
        grid-template-columns: repeat(auto-fit, minmax(15 em, 1fr));
        list-style-type: none;

    }

    li {
        display: flex;
        margin: 0.5em;
    }

    p:nth-of-type(1) {
        border-top-left-radius: 0.4em;
        border-bottom-left-radius: 0.4em;
        padding: 0.4em;
        background-color: var(--gray);
        flex-grow: 1;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    p:nth-of-type(2) {
        padding: 0.4em;
        border-top-right-radius: 0.4em;
        border-bottom-right-radius: 0.4em;
        background-color: var(--grayer);
        display: flex;
        justify-content: center;
        align-items: center;
    }

}



/* #types {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grayest);
    margin: 1em;
    padding: 1em;
    border-radius: 0.4em;

    ul {
        display: flex;
        list-style-type: none;

        li {
            display: flex;

            padding: 1em;

            p {
                padding: 0.4em;
            }
        }
    }

    li>p:nth-of-type(1) {
        background-color: var(--grayer);
        border-top-left-radius: 0.4em;
        border-bottom-left-radius: 0.4em;
    }

    li>p:nth-of-type(2) {
        background-color: var(--gray);
        border-top-right-radius: 0.4em;
        border-bottom-right-radius: 0.4em;
    }
} */