<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    {{ template "Nav" }}
    <main>
        {{ block "Anime" . }}
        <div id="anime">
            <img src="{{.Cover}}" alt="{{.Title}}">
            <h2>{{ .Title }}</h2>
            <p>{{ .Description }}</p>
            {{ if .Episodes}}
            <ol>
                <h3>Episodes</h3>
                {{ range .Episodes }}
                <li>
                    <p>{{ .Title }}</p>
                    {{ if .AltTitle }}
                    <p>{{ .AltTitle }}</p>
                    {{ end }}
                </li>
                {{ end }}
            </ol>
            {{ end }}
        </div>
        {{ end }}
    </main>
</body>

</html>