<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    {{ template "Nav" }}
    <main>
        {{ block "Filter" . }}
        <div id="filter">
            <ul>
                {{ range . }}
                <li hx-get="/anime/{{.Id}}" hx-target="main" hx-push-url="true">
                    <img src="{{.Cover}}" alt="{{.Title}}">
                    <p>{{ .Title }}</p>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </main>
</body>

</html>