<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{ template "Nav" }}
    <main>
        {{ block "Filters" . }}
        <div id="filters">
            <h1>{{ .Title }}</h1>
            {{ $title := .Title }}
            <ul>
                {{ range .Filters }}
                <li hx-get="/{{$title}}/{{.Id}}" hx-target="main" hx-push-url="true">
                    <p>{{ .Name }}</p>
                    <p>{{ .Count }}</p>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </main>
</body>

</html>