{{ define "Anime" }}
<div id="anime">
    <div class="top">
        <img src="{{.Cover}}" alt="{{.Title}}">
        <ul>
            {{ if .TypeOf }}
            <li>
                <ul>
                    <p>type:</p>
                    <li>{{ .TypeOf }}</li>
                </ul>
            </li>
            {{ end }}
            {{ if .Season }}
            <li>
                <ul>
                    <p>Season:</p>
                    <li>{{ .Season }}</li>
                </ul>
            </li>
            {{ end }}
            {{ range .Infos }}
            {{ if .Values }}
            <li>
                <ul>
                    <p>{{ .TypeTitle }}:</p>
                    {{ range .Values }}
                    <li> {{ .Value }} </li>
                    {{ end }}
                </ul>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
    <!-- <div class="left">
        <img src="{{.Cover}}" alt="{{.Title}}">
        <div class="infos">
            <ul>
                <p>Type:</p>
                <li>{{ .TypeOf }}</li>
            </ul>
            <ul>
                <p>Season:</p>
                <li>{{ .Season }}</li>
            </ul>
            {{ range .Infos }}
            <ul>
                <p>{{ .TypeTitle }}:</p>
                {{ range .Values }}
                    <li> {{ .Value }}, </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
    <div class="right">
        <div class="title_and_desc">
            <a href="{{.MalUrl}}">
                <h1>{{ .Title }}</h1>
            </a>
        <p>{{ .Description }}</p>
        </div>
        <div class="episodes">
            <details>
                <summary>Episodes:</summary>
                    <ol>
                        {{range .Episodes}}
                            <li> {{.Title}}</li>
                        {{end}}
                    </ol>
            </details>
        </div>
    </div> -->
</div>
{{ end }}